.carousel-item {
    height: 600px;
    border: 1px solid black;
    border-radius: 30px;
    
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    border-radius: 30px;
 
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
  }